{% extends "base.html" %}
{% load static %}
{% block title %}Welcome{% endblock title %}

{% block content %}
<div class="row vh-100">
    <div class="col-md-5">
        <img src="{% static 'images/index.jpeg' %}" alt="Computer image" class="img">
    </div>
    <div class="col-md-7 p-5">
        <div class="row h-100">
            <div class="col-12">
                <h4 class="">Sign Up</h4>
                <p>Please fill your information below</p>
                <div class="manage">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit" class="btn btn-primary">
                            Sign Up &nbsp; &nbsp; &nbsp;
                            <i class="fa-solid fa-angle-right"></i>
                        </button>
                    </form>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <p>Already have an account</p>
                    <a href="{% url 'customuser:login' %}" class="text-decoration-none">Login to your account</a>
                </div>
            </div> 
        </div>
    </div>
</div>

{% endblock content %}
 




