html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1 0 auto; /* This allows the wrapper to expand and take available space */
}

footer {
    flex-shrink: 0; /* Footer will stay at the bottom */
    width: 100%;
    background-color: #f8f9fa;
    border-top: 1px solid #e7e7e7;
    padding: 10px 0;
    text-align: center;
}



.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.manage {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
    width: 100%;
    gap: 0.02rem;
}

.box{
    border: 1px solid transparent;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: ease 0.5s;
    flex: 1;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid blue;
    color : blue;
}

.box:hover {
    border-color: rgb(43, 123, 243);
    .icon {
        background-color: rgb(43, 123, 243);
        color: white;
    }
}

.img_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.dashed-border {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

textarea {
    resize: none;
}

.scaleup {
    transition: ease 0.25s;
}

.scaleup:hover {
    transform: scale(1.1)
}
